<div class="content-wrapper">
    <div ng-if="name">
        <div class="userinfo-wrapper">
            <img ng-src="{{image}}" alt="">
            <p class="username">{{name}}</p>
        </div>
        <div class="operate-wrapper">
            <div class="post" ui-sref="post">投递</div>
            <div class="collect" ui-sref="favorite">收藏</div>
        </div>
        <div class="quit-wrapper">
            <button class="quit" type="button" ng-click="logout()">退出登录</button>
        </div>
    </div>
    <div class="login-wrapper" ng-if="!name">
        <button class="login-btn" ui-sref="login">去登陆</button>
    </div>
</div>
<app-footer></app-footer>
