<div class="register">
    <div class="input-wrapper">
        <div class="account-wrapper">
            <i class="icon icon-account"></i>
            <input type="text" placeholder="输入手机号">
        </div>
        <div class="password-wrapper">
            <i class="icon icon-lock"></i>
            <input type="text" placeholder="设置6位以上的密码">
        </div>
        <div class="code-wrapper">
            <input type="text" placeholder="短信验证码">
            <button>发送验证码</button>
        </div>
    </div>
    <div class="btn-wrapper">
        <button>登陆</button>
        <button>注册</button>
    </div>
</div>
