<div class="register">
    <form name="form">
        <div class="input-wrapper">
            <div class="account-wrapper">
                <i class="icon icon-account"></i>
                <input name="mobile" ng-model="user.mobile" validator="mobile,required" type="text" placeholder="输入手机号">
            </div>
            <div class="password-wrapper">
                <i class="icon icon-lock"></i>
                <input name="password" ng-model="user.password" validator="password,required" type="password" placeholder="设置6位以上的密码">
            </div>
            <div class="code-wrapper">
                <input validator="required" ng-model="user.code" type="text" placeholder="短信验证码">
                <button name="code" class="{{time?'disabled':''}}" ng-click="time?1 == 1:sendCode()" ng-bind="time?time:'发送验证码'"></button>
            </div>
        </div>
        <div class="btn-wrapper">
            <button validation-submit="form" ng-click="submit()">注册</button>
            <button ui-sref="login">已有账号，去登陆</button>
        </div>
    </form>
</div>
